.container {
  overflow-x: scroll;
}
.container th {
  font-size: 16px;
  padding: 10px 40px;
  background: #ccc;
  border-radius: 10px 10px 0 0;
  color: #575757;
  cursor: pointer;
}
.container th:hover {
  background: rgb(235, 233, 233);
  color: #737373;
}
.container table {
  min-width: 100%;
}
.container td {
  font-size: 14px;
  padding: 10px;
  /* background: white; */
}
td.noItemsAlert {
  padding: 30px;
  font-size: 20px;
  text-align: center;
  color: #575757;
  font-weight: bold;
}
.hoverUser {
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  background: rgba(0, 0, 0, 0.3);
  height: 350px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
