.formForm {
  margin: auto;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
}
label {
  font-size: 1.8em;
  line-height: 30px;
  font-weight: bold;
  color: #757575;
}
a {
  color: #757575;
  text-decoration: none;
  font-size: 14px;
}
a:hover {
  text-decoration: underline;
}
