.container {
  padding: 40px 0;
  width: 100%;
}
.profilesTable {
  width: 100%;
}
.content {
  width: Calc(100vw - 250px);
  margin: 30px auto;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}
.profilesListBtnRight {
  display: flex;
}
.profilesListBtn {
  padding: 5px 20px;
  background: transparent;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
  font-weight: 600;
  color: #575757;
  cursor: pointer;
  outline: none;
  line-height: 24px;
  min-height: 40px;
}
.profilesListBtn:hover {
  background: #fefefe;
}
.profilesListBtn:active {
  background: transparent;
}
.profilesListBtn span {
  display: block;
  float: right;
}
.btnIcon {
  width: 24px;
  float: left;
  margin-right: 20px;
}
.search {
  width: 100%;
  margin-bottom: 20px;
  background: white;
  border-radius: 20px;
  display: flex;
}
.search img {
  width: 20px;
  margin: 8px;
}
.searchInput {
  width: Calc(100% - 40px);
  height: 40px;
  border: none;
  background: none;
  padding: 0 10px;
  color: #575757;
  outline: none;
}
button {
  outline: none;
}
.container th {
  cursor: move;
}
.addcandidate {
  width: 160px;
  background-color: rgb(204, 204, 204);
  border-radius: 10px;
  height: 40px;
  font-size: 1.2rem;
  color: #575757;
  font-weight: 600;
  line-height: 40px;
  border: 2px solid #ccc;
}
.addcandidate:hover {
  background: #fefefe;
  /* color: #737373; */
}
