.container {
  padding: 40px;
  width: 100%;
}
.tableContainer {
  width: Calc(100vw - 320px);
  margin: auto;
  overflow-x: scroll;
}
.container th {
  font-size: 16px;
  padding: 10px 40px;
  background: #ccc;
  border-radius: 10px 10px 0 0;
  color: #575757;
  cursor: pointer;
}
.container th:hover {
  background: rgb(235, 233, 233);
  color: #737373;
}
.container table {
  min-width: 100%;
}
.container td {
  font-size: 14px;
  padding: 10px;
  background: white;
}
.search {
  width: 100%;
  margin-bottom: 20px;
  background: white;
  border-radius: 20px;
  display: flex;
}
.search img {
  width: 20px;
  margin: 8px;
}
.searchInput {
  width: Calc(100% - 40px);
  height: 40px;
  border: none;
  background: none;
  padding: 0 10px;
  color: #575757;
  outline: none;
}
button {
  outline: none;
}
.container th {
  cursor: move;
}
