.container th {
  font-size: 16px;
  padding: 10px;
  background: #ccc;
  border-radius: 10px 10px 0 0;
  color: #575757;
  cursor: pointer;
}
.container th:hover {
  background: rgb(235, 233, 233);
  color: #737373;
}
.container table {
  min-width: 100%;
}
.container td {
  font-size: 14px;
  padding: 10px;
  background: white;
}
.search {
  width: 100%;
  margin-bottom: 20px;
  background: white;
  border-radius: 20px;
}
.search img {
  width: 20px;
  margin: 5px;
}
.searchInput {
  width: Calc(100% - 80px);
  height: 40px;
  border: none;
  background: none;
}
