.input{
    background-color: #f2f2f2;
    width: 2500px;
    border: none;
    padding: 12 px 15px;
    font-size: 15px;
    color: #c2c2c2;
    outline: none;
    margin-bottom: 10px;
}
.input_error{
    color: red;
    font-size: 14px;
}