.input {
  background-color: #fafafa;
  width: 301px;
  height: 40px;
  border: none;
  padding: 1.2em 1.5em;
  font-size: 1.rem;
  outline: none;
  margin-top: 2em;
}
::placeholder {
  color: #c2c2c2;
}
.input_error {
  color: red;
  font-size: 1rem;
}
