.input {
  background-color: #fafafa;
  width: 301px;
  height: 40px;
  border: 1px solid #a6a6a6;
  padding: 1.2em 0.8em;
  font-size: 1rem;
  outline: none;
  margin-top: 1.8em;
}
::placeholder {
  color: #828282;
}
.input_error {
  display: block;
  padding: 1px 5px;
  color: rgb(241, 0, 0);
  font-size: 0.9rem;
  text-align: left;
}
