.sidebar {
    color: rgb(102, 94, 94);
    display: flex;
    flex-direction: column;
    top: 150px;
    position: absolute;
}
.slidingSidebar {
    position: absolute;
    animation-name: example;
    animation-duration: 0.5s;
    width: 220px;
    background-color: white
}
.slidingSidebar span {
    display: block;
    width: 100%;
    text-align: right;
    padding: 10px; 
}
@keyframes example {
    from {left: -180px}
    to {left: 0}
  }

.btnSlide {
    background-color: #3185b4; 
    background-image: linear-gradient(to right, #66777f, #3185b4, #5ca8da, white);
    border-radius: 15px;
    animation-name: example2;
    animation-duration: 0.5s;
    width: 230px
}
@keyframes example2 {
    from {width: 30px}
    to {width: 230px;}
}

a{
   color: rgb(83, 78, 78);
}
.sidebar li {
    padding: 3px;
    margin: 10px;
}
.toggleExpandBtn {
    width: 30px;
    height: 30px;
    margin: 1px;
    border: 2px solid #66777fab;
    border-radius: 50%;
    outline: none;
    position: relative;
    background: rgb(255, 255, 255);
    left: Calc( 100% - 31px );
    color: #66777f;
    font-size: 24px;
    font-weight: bold;
}