.sidebar {
    color: rgb(102, 94, 94);
    display: flex;
    flex-direction: column;
    width: 60px;
    background: #314455;
    height: 100vh;
    padding: 20px 0;
}
.menuBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid grey;
    margin: 10px;
    overflow: hidden;
    outline: none;
}
.sidebarOpen {
    width: 220px;
    height: 110vh;
    background: #314455;
    padding: 20px 0;
}
a {
    color: white;
    font-weight: bold;
    line-height: 60px;
}
.sidebarOpen li {
    width: 220px;
    list-style: none;
    display: flex;
}
.sidebarIcon {
    width: 28px;
}

span {
  color: white;
  display: block;
  width: 100%;
  padding: 10px;
}
span::before{
  display: block;
  content: '';
  width: 100%;
  background: grey;
  height: 1px;
  margin: 10px 0;
}