.loginForm {
    margin: auto;
    width: 250px;
    text-align: center;
}
.loginBox {
    width: 300px;
    padding: 30px 20px;
    background: #f5f5f5;
    margin: 100px auto;
    box-shadow: 5px -5px #e5e5e5d3;
}
label {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color: #757575;
}
a{
    color: #757575;
    text-decoration: none;
    font-size: 14px;
}
a:hover {
    text-decoration: underline;
}