.recaptchaBox {
  width: 500px;
  margin: 0 auto;
}
.recaptchaBox div {
  margin: 0 auto;
}
.forgotPasswordBox {
  width: 500px;
  padding: 30px 0;
  margin: 100px auto;
}
.logo {
  width: 10rem;
  display: block;
  margin: auto;
}
.formBox::before {
  display: block;
  margin: 16px auto 0 auto;
  content: "";
  width: 60%;
  height: 2px;
  background: #ccc;
}
