.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 1rem auto;
}

.checkBoxContainer {
  display: flex;
  justify-content: flex-start;
  width: auto;
}

.link {
  color: #c00000;
  font-weight: 600;
  font-size: 1.4rem;
}

.text {
  color: #7f7f7f;
  font-weight: 500;
  font-size: 1.4rem;
}
