.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1rem;
}

.checkBoxContainer {
  display: flex;
  justify-content: flex-start;
  width: auto;
  position: relative;
  padding-left: 35px;
}

.link {
  color: #c00000;
  font-weight: bold;
  font-size: 1.7rem;
}

.containerInput[type="checkbox"] {
  cursor: pointer;
  font-size: 12px;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.5);
}

.containerInput[type="checkbox"]::after {
  content: " ";
  background-color: #fff;
  display: inline-block;
  color: #00bff0;
  width: 10px;
  height: 14px;
  visibility: visible;
  border: 1px solid #00bff0;
  padding: 0 3px;
  margin: 2px 0;
}

.containerInput[type="checkbox"]:checked:after {
  content: "\2714";
  font-weight: bold;
}
.text {
  color: #7f7f7f;
  font-weight: 600;
  font-size: 1.7rem;
}
